@media screen and (max-width: 768px) {

    .logo,
    header .btn-cta.dk-header {
        display: none;
    }

    .package,
    .benefits {
        flex-wrap: wrap;
    }

    .benefits .benefits-item {
        flex: 100%;
    }

    header {
        padding: 10px 0;
        justify-content: center;
    }

    header nav .navigator .btn-nav {}

    section .tittle {
        margin-bottom: 0;
    }

    .banner h1 {
        font-size: 1.8rem;
    }

    .form-section {
        margin: 20px;
        padding-top: 20px;
    }

    section {
        padding: 40px 20px;
    }

    .note-item {
        flex: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .nav-pc {
        display: none;
        /* chỉ ẩn menu PC */
    }

    #navMenu {
        display: block;
        /* menu mobile hiển thị khi active */
    }
}